.parent-div{
  background-image: url('./Social strategy-pana.png');
  background-size: cover;
  height: 90vh;
  overflow: scroll;
  margin-top: 5px;
}

#overview-content{
    visibility: hidden;
    display: none;
    height: 80vh;
    overflow: scroll;
}

p{
  padding-left: 0.9rem;
}

.loading-div{
  visibility: hidden;
  display: none;
}

.loader-spin{
  position: relative;
  flex: 1 1 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
}

.loader-label{
  position: relative;
  flex: 1 1 auto;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.downloadbtn {
  position: relative;
  flex: 1 1 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
  visibility: hidden;
  display: none;
}

.downloadbtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.info{
  visibility: hidden;
  display: none;
}

.generatebtn{
  position: relative;
  flex: 1 1 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f76555 51%,
    #903737 100%
  );
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.generatebtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}


